<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logo02.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Health Access Hub | Gerir profissionais</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/admin/adminDah.css">
    <link rel="stylesheet" href="/css/admin/profissionais.css">
</head>

<body>
    <div class="app">
        <!-- SIDEBAR -->
        <aside id="sidebar" class="expanded">
            <!-- TOPO -->
            <div class="sidebar-top">
                <div class="logo-box">
                    <img src="/img/logo02.png" alt="Health Access Hub">
                </div>

                <button id="toggleSidebar" class="toggle-btn">
                    <!-- <i class="fa-solid fa-chevron-left"></i> -->
                    <!-- <i class="fa-solid fa-columns"></i> -->
                    <i class="fa-solid fa-angles-left"></i>
                </button>
                <!-- <i class="fa-solid fa-bars"></i><i class="fa-solid fa-outdent"></i> -->
            </div>

            <!-- MENU -->
            <nav class="navbar">
                <ul class="nav-list">
                    <li>
                        <a href="/dashboard/admin/adminGeral/" class="nav-link">
                            <i class="fa-solid fa-house"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/admin/adminGeral/utilizadores" class="nav-link">
                            <i class="fa-solid fa-user"></i><span>Utilizadores</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/admin/adminGeral/relatorios" class="nav-link">
                            <i class="fa-solid fa-calendar-check"></i><span>Relatórios</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/admin/adminGeral/configuracoes" class="nav-link">
                            <i class="fa-solid fa-gear"></i><span>Configurações</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/admin/adminGeral/perfil" class="nav-link">
                            <i class="fa-solid fa-user"></i><span>Perfil</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- LOGOUT -->
            <div class="logout-area">
                <a href="/auth/logout" class="nav-link logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Sair</span> </a>
            </div>
            <!-- <div class="logout-area">
                <a href="/auth/logout" style="color: white; text-decoration: none; font-weight: bold;"><i
                        class="fa-solid fa-right-from-bracket"></i> Sair</a>
            </div> -->
        </aside>

        <!-- MAIN CONTENT -->
        <main id="mainContent">
            <!-- HEADER -->
            <header class="main-header">

                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" placeholder="Pesquisar consultas ou exames...">
                </div>

                <div class="header-right">

                    <!-- <div class="notification-icon">
                        <i class="fa-solid fa-bell"></i>
                        <span class="notification-badge">2</span>
                    </div> -->

                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="/img/fotoPadra.png" alt="Avatar" id="headerAvatar">
                        </div>
                        <div class="user-info">
                            <p class="user-name" id="userName">Carregando...</p>
                            <p class="user-role" id="userRole">Utente</p>
                        </div>
                    </div>
                </div>

            </header>

            <!-- BOAS-VINDAS -->
            <section class="welcome-section">
                <div class="welcome-content">
                    <h1>Bem-vindo, <span id="welcomeName">Utente</span></h1>
                    <p>Você tem 1 consulta agendada para esta semana</p>
                    <!-- <button class="action-btn" onclick="location.href='/dashboard/utente/consultas'">
                        Ver Consultas
                    </button> -->
                </div>
                <div class="welcome-icon">
                    <i class="fa-solid fa-heart-pulse"></i>
                </div>
            </section>

            <!-- FORMULARIO PARA CADASTRAR OS PROFISSIONAIS -->
            <section class="form">
                <form class="form-card register" action="" method="POST">
                    <h5>considerar as metricas, e fazer com que elas sejam links que nos levam para novas abas que vao
                        cadastrar os utilizadores de forma separada</h5>
                    <h2>Crie um novo utilizador</h2>
                    <h4>{ Utentes, Médicos(as), Enfermeiros(as), Recepcionaistas(as) e Adminstrador Administrativo da
                        Clínica }</h4>
                    <div class="input-group">
                        <i class="bi bi-person"></i>
                        <input type="text" name="nome" placeholder="Nome Completo" required>
                    </div>

                    <div class="input-group">
                        <i class="bi bi-envelope"></i>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>

                    <div class="input-group">
                        <i class="bi bi-lock"></i>
                        <input type="password" name="password" id="registerPassword" placeholder="Senha" required>
                        <span class="toggle-password" onclick="togglePassword('registerPassword', this)">
                            <i class="bi bi-eye"></i>
                        </span>
                    </div>

                    <label class="label">Data de Nascimento</label>
                    <input type="date" name="data_nascimento" required>

                    <select name="sexo" required>
                        <option value="">Selecione o Gênero</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                    </select>

                    <button type="submit">Cadastrar</button>

                    <div class="divider"></div>

                    <div class="switch">
                        Já tem conta?
                        <a href="" onclick="toggle()">Entrar</a>
                    </div>
                </form>
            </section>
        </main>
    </div>

    <!-- all code JS -->
    <script src="/js/header.js"></script>
    <script src="/js/profDash.js"></script>
</body>

</html>